{% extends "halls/base.html" %} {%block content%}
<div class="container">
  <h2>Add a video</h2>
  <form method="post">
    {% csrf_token %} {%load widget_tweaks%} {%for field in form%}
    <div class="form-group">
      {{field.label_tag}} {% render_field field class="form-control" %}
    </div>
    {%endfor%}
    <!-- {% comment %} {{formset.management_form}} {%for aform in form%}
    {% endcomment %} {% comment %} {% for field in form %}
    <p>
      {{field.errors}} {% comment %} for errors {% endcomment %} {% comment %}
      {{field.label_tag}} {{field}}
    </p>
    {%endfor%} {% endcomment %} -->
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <h2>Or</h2>
  <form>{{search_form}}</form>
</div>
{% endblock %}
