{% extends "halls/base.html" %} {%block content%}
<div class="container">
  <h2>Add video to {{hall.title}}</h2>
  {% load crispy_forms_tags %}
  <form method="POST" id="sub">
    {% csrf_token %} {{form|crispy}}
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
  <br />
  <h2>Or</h2>
  <form>{{search_form|crispy}}</form>
  <div id="search_results"></div>
  <script>
    var delayTimer;
    $("#id_search_term").keyup(function () {
      clearTimeout(delayTimer);
      $("#search_results").text("Loading...");
      delayTimer = setTimeout(function () {
        var text = $("#id_search_term").val();
        $.ajax({
          url: "/video/search",
          data: {
            search_term: text,
          },
          dataType: "json",
          success: function (data) {
            var result = "";
            $("#search_results").text("");
            result += '<div class="row">';
            data["items"].forEach(function (video) {
              result +=
                '<div class="col-md-4 mt-3"><div class="card mb-4 shadow-sm">';
              result +=
                '<iframe width="100%" height="225" src="https://www.youtube.com/embed/' +
                video["id"]["videoId"] +
                '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
              result +=
                '<div class="card-body"><p class="card-text">' +
                video["snippet"]["title"] +
                "</p>";
              result +=
                '<a href="#" class="btn btn-primary" onclick="addVideo(\'' +
                video["id"]["videoId"] +
                "')\">Add</a></div></div></div>";
            });
            result += "</div>";
            $("#search_results").append(result);
          },
        });
      }, 2000);
    });
    function addVideo(video_id) {
      $("#id_url").val("https://www.youtube.com/watch?v=" + video_id);
      $("#sub").submit();
    }
  </script>
</div>
{% endblock %}

<!-- <form method="post">
  {% csrf_token %} {%load widget_tweaks%} {%for field in form%}
  <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
    {{field.errors}} {{field.label_tag}} {% render_field field
    class="form-control" %}
  </div>
  {%endfor%}
  {% comment %} {{formset.management_form}} {%for aform in form%}
  {% endcomment %} {% comment %} {% for field in form %}
  <p>
    {{field.errors}} {% comment %} for errors {% endcomment %} {% comment %}
    {{field.label_tag}} {{field}}
  </p>
  {%endfor%} {% endcomment %}
  <button type="submit" class="btn btn-primary">Create</button>
</form> -->
